<header>
    <nav class="navbar-top navbar-default navbar-local" role="navigation">
        <div class="container">
            <div class="navbar-header pb-3">
                <a class="navbar-brand" href="https://www.argentina.gob.ar/interior/migraciones" aria-label="Dirección Nacional de Migraciones"><img alt="Migraciones" src="https://www.dnm.gov.ar/login/img/logo_dnm.jpg" height="68"> </a>
            </div>
            <div class="navbar-header navbar-right nav-intra pt-2">
                <div class="nav-intra">
                    <img alt="Intranet" src="https://www.dnm.gov.ar/login/img/logo_intranet.jpg" height="68">
                    <img src="foto.php?dni={$NRO_DOCUMENTO}" class="foto-navbar">
                </div>
            </div>
        </div>
    </nav>
</header>
