<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DNM | Intranet</title>
    <link type="text/css" rel="stylesheet"
      href="https://www.argentina.gob.ar/sites/default/files/updatePoncho/css/icono-arg.css" media="all" />
    <link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" media="all" />
        <link type="text/css" rel="stylesheet" href="https://www.dnm.gov.ar/css/estilo1-2020.css" media="all">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
    <!--banner-->
    <header>
      <nav class="navbar navbar-top navbar-default navbar-local p-b-2" role="navigation">
          <div class="container">
              <div class="navbar-header"> 
                  <a class="navbar-brand" href="https://www.argentina.gob.ar/interior/migraciones" aria-label="Dirección Nacional de Migraciones"><img alt="Migraciones" src="http://www.dnm.gov.ar/login/img/logo_dnm.jpg" height="68"> </a> 
              </div>  
          </div>
      </nav>
  </header>
  <div class="container m-t-2 m-b-4" id="container">
         <!--mensaje-->
         <div class="col-md-6 col-md-offset-3 m-t-3">
          <div class="alert alert-info">
              <div class="media">
                  <div class="media-left">
                      <i class="fa fa-exclamation-triangle fa-fw fa-4x"></i>
                  </div>
                  <div class="media-body">
                    <h5 style="font-size: 15px;">{$INFO}</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--footer-->
  <footer class="main-footer m-t-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 m-t-1 m-b-1">
          <img class="image-responsive" alt="Argentina.gob.ar - Presidencia de la Nación" src="https://www.dnm.gov.ar/login/img/primero-la-gente.png" width="142">
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
